
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Pacifico", cursive;
  color: purple;
  background-color: rgb(253, 178, 249);
  padding: 1rem;
  text-align: center;
  /* border-radius: 1rem; */
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

#forms {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  background-color: rgb(252, 217, 223);
  color: purple;
  font-weight: bold;
  padding: 2rem;
  /* border-radius: 2rem; */
}

#registration-form {
  width: 50%;
  margin: 5rem auto;
  border-radius: 4rem;
}

select,
input {
  padding: 8px;
  border-radius: 3rem;
  border: none;
  background-color: white;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

button {
  padding: 8px;
  width: 7rem;
  color: purple;
  font-weight: bold;
  background-color: rgb(253, 188, 248);
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: purple;
}

select,
input:hover{
  padding: 20px;
  border-radius: 3rem;
  border: none;
  background-color: rgb(230, 157, 181);
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#message {
  font-size: 18px;
  text-align: center;
  
}
